@tailwind base;
@tailwind components;
@tailwind utilities;

/* HEADER STYLING */
.header-container{
  display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    height: 45px;
    font-size: 28px;
    font-weight: bold;
    margin-top: 5px;
    border-bottom: 0.2px solid black;
}

/* HERO STYLING */
.hero-container{
  padding: 24px 12px;
}
.hero-margin-container{
  margin-left: 12px;
}
.game-title{
  font: inherit;
  font-size: 37px;
}
.game-date{
  font-weight: lighter;
  font-size: 25px;
}
/* INSTRUCTIONS STYLING */
.instructions-container{
  border-top: 0.3px solid black;
  border-bottom: 0.3px solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px 20px;
}
#instructions-icon{
  /* cursor: pointer; */
}

/* GAMEBOARD STYLING */
.create-title{
  text-align: center;
  margin-top: 24px;
}
.gameboard-container {
  margin: auto;
  height: 502px;
  width: 624px;
  margin-bottom: 25px;
}
.grid > div {
  /* color: orange; */
  text-align: center;
  font-size: 1.4em;
  padding: 2em 1em;
  background-color: rgb(239, 239, 230); 
  color: rgb(0, 0, 0);
  border-radius: 6px;
  font-weight: 520;
  height: 80px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.grid{
  /* height: 344px;
  width: 624px; */
  margin: 24px auto;
}
.mistakes-container{
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
.mistakes-htag{
  display: flex;
  align-items: center;
}
.mistakes-remaining-bubbles-container{
  display: flex;
  gap: 10px;
  margin-left: 10px;
  min-width: 120px;
}
.mistakes-remaining-bubble{
  width: 16px;
  height: 16px;
  border-radius: 9999px;
  background-color: rgb(90, 89, 78);
}
div[data-hidden~="hidden"]{
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(90, 89, 78);
  /* color: rgb(255,255,255); */
  /* border: rgb(90, 89, 78); */
}
/* CARD STYLING */
.card{
  cursor: pointer;
}
div[data-status~="clicked"]{
  background-color: rgb(90, 89, 78);
  color: rgb(255, 255, 255);
}
/* MATCHING BANNER STYLING */
.banner-cardname-container{
  font-size: 1rem;
}
#EASY{
  background-color: rgb(249, 223, 109);
}
#MEDIUM{
  background-color: rgb(160, 195, 90);
}
#HARD{
  background-color: rgb(176, 196, 239);
}
#TRICKY{
  background-color: rgb(186, 129, 197);
}

/* BUTTONS STYLING */
/* .disabled-button{
  color: rgb(127, 127, 127);
    border-color: rgb(127, 127, 127);
} */
.instructions-container > button{
  font-size: 1.125em;
  line-height: 45px;
  display: inline-block;
  padding: 0px 5px;
  border: none;
  height: 35px;
}
.instructions-button:hover{
  background-color: rgb(211, 211, 211);
}
/* .instructions-button-container{
  font-size: 1.125em;
  line-height: 45px;
  display: inline-block;
  padding: 0px 5px;
  border: none;
  height: 35px;
} */
.buttons{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-left: 0;
  margin-right: 0;
}
.button{
  display: flex;
  width: fit-content;
  min-width: 5.5em;
  height: 3em;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  max-width: 80vw;
  border-radius: 32px;
  line-height: 1.5em;
  /* cursor: pointer; */
  border: 1px solid;
}
.deselect, .view-results{
  min-width: 7.5em;
}
.deselect:disabled, .submit:disabled{
  color: rgb(127, 127, 127);
  border-color: rgb(127, 127, 127);
}
button[id~="submit"]{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
/* WINNER MODAL */
#winner-modal-wrapper{
  height: 100%;
  left: 0;
  /* top: 0;
  right: 0; */
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: nowrap;
  position: fixed;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.678);
  /* background-color: red; */
  /* opacity: 72%; */
}
.winner-modal-container{
  display: flex;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 12px -1px rgba(0,0,0,.3);
  overflow-y: auto;
  box-sizing: border-box;
  outline: none;
  padding: 36px 0 0;
  /* padding: 24px; */
  pointer-events: visible;
  position: relative;
  min-height: 50%;
  max-height: calc(100% - 32px);
  /* width: 100%;
  width: 100%; */
  z-index: 102;
  width: 540px;
}
.winner-modal-article{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  flex-wrap: nowrap;
  /* font-size: 16px; */
  font-size: 1rem;
  /* line-height: 20.8px; */
  line-height: 1.3rem;
  width: 100%;
}
.winner-modal-content{
  flex-direction: column;
  gap: 24px;
  /* margin: auto; */
  display: flex;
  text-align: center;
  padding: 36px 0 32px;
}
.winner-modal-content > h2{
  font-size: 36px;
}
.winner-modal-content > h3{
  font-weight: normal;
}
.winner-modal-button-container{
  color: #000;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  /* letter-spacing: .16px; */
  display: block;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.2rem;
}
/* .winner-modal-button:hover{
  text-decoration: underline;
} */
.close{
  display: inline-block;
  margin-left: 4px;
}
.display-none{
  display: none;
}
/* INSTRUCTIONS MODAL */
.instructions-modal-wrapper{
  height: 100%;
  left: 0;
  /* top: 0;
  right: 0; */
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: nowrap;
  position: fixed;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.678);
}
.instructions-modal-container{
  display: flex;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 12px -1px rgba(0,0,0,.3);
  overflow-y: auto;
  box-sizing: border-box;
  outline: none;
  padding: 36px 0 0;
  /* padding: 24px; */
  pointer-events: visible;
  position: relative;
  min-height: 50%;
  max-height: calc(100% - 32px);
  /* width: 100%;
  width: 100%; */
  z-index: 102;
  width: 540px;
  padding: 48px 56px;
}
.instructions-modal-content{

}
.instructions-modal-button-container{
  color: #000;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* letter-spacing: .16px; */
  display: block;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.2rem;
}
.modal-header{
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 4px;
}
.module-bold{
  font-weight: 700;
}
.modal-description{
  font-size: 20px;
}
.modal-system-body{
  font-size: 16px;
  line-height: 20px;
}
.bullet-list{
  list-style: initial;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 20px;
}
.how-to-play-list-module{
  list-style: initial;
    padding-left: 20px;
    margin-bottom: 20px;
}
.how-to-play-list-item{
  display: list-item;
  margin-bottom: 4px;
}
.how-to-play-list-item-module-display{
  display: inline-flex;
  margin-right: 3px;
}
.how-to-play-module-message{
  margin-top: 4px;
  margin-bottom: 16px;
}
.how-to-play-module-message-final{
  margin-top: 4px;
  margin-bottom: 12px;
}
.how-to-play-module-difficulty{
  margin-left: 11px;
  display: flex;
  flex-direction: column;
}
.how-to-play-category-li{
  display: inline-flex;
    height: 20px;
    margin-bottom: 4px;
}
.how-to-play-category-color{
  width: 20px;
    height: 20px;
    margin-right: 10px;
    display: inline-flex;
    border-radius: 3px;
}
.bg-yellow{
  background-color: rgb(249, 223, 109)
}
.bg-green{
  background-color: rgb(160, 195, 90)
}
.bg-blue{
  background-color: rgb(176, 196, 239)
}
.bg-purple{
  background-color: rgb(186, 129, 197)
}
.arrow-module-container{
  width: 100%;
  position: relative;
  display: block;
}
.arrow-module{
  background: url(../photos/help-arrow.svg);
  background-size: contain;
  height: 45px;
  width: 8px;
  position: absolute;
  left: 46px;
  top: 24px;
}


